<div class="header">

  <!-- spacing -->
    <div class="row">
      <div class="medium-12 columns space2">
      </div>
    </div>
    
</div> 

<div id="container">

  <div class="two-third"> 

    <div class="row">
      <div class="medium-7 columns">
        <h2 id="mainLogo"><img src="/assets/img/loginBackground/icon-clear-thinkers.jpg" style="color: #D72323" alt="lightBulb" height="60" width="60"> Tech Aptitude</h2>
      </div>
    </div>

<div style="clear:both"></div>

    <div class="row">
      <div class="medium-3 columns">
        <div class="card">
          <div class="content">
            <!-- Right Picture Nar -->
            <div class="sidebar_right">
            {{#each user}}
              <img src="assets/img_profile/{{profile_img}}" style="width:200px">
            {{/each}}
            </div>
            <!-- social icons -->
            <i class="fa fa-facebook-official fa-2x fBookIcon" aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-2x twitIcon" aria-hidden="true"></i>
            <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
            <i class="fa fa-stack-overflow fa-2x stack" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square fa-2x linked" aria-hidden="true"></i>
          </div>
          <a href="/employee_edit_profile"><i class="fa fa-wrench fa-1x editButton" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="medium-7 columns">
        <div class="card">
          <div class="content">
            <div>
              <form action="#" class="TTWForm" method="post" novalidate=""> 
                <div id="field1-container" class="field f_50">
                  {{#each user}}

                  <label for="firstName"></label>         
                  <i class="fa fa-user fa-1x contactIcons" aria-hidden="true"></i>  {{firstName}} {{lastName}}

                  <label for="email"></label>
                  <i class="fa fa-envelope-o fa-1x contactIcons" aria-hidden="true"></i>  {{email}}

                  <label for="mobile"></label>
                  <i class="fa fa-mobile fa-1x contactIcons" aria-hidden="true"></i><br>  {{mobile}}

                  <label for="address"></label>

                  <i class="fa fa-home fa-1x contactIcons" aria-hidden="true"></i>  {{street_address}}
                  <label for="city"></label>

                  <i class="fa fa-home fa-1x contactIcons2" aria-hidden="true"></i>  {{city}}, {{state}} {{zip}}
                  <label for="city"></label>

                  {{/each}}
                </div>
              </form>
            </div>
          </div> {{!-- closing content --}}
          <a href="/employee_edit_profile"><i class="fa fa-wrench fa-1x editButton" aria-hidden="true"></i></a>
        </div> <!-- closing card -->
      </div> <!-- closing columns --> 

      <div class="medium-2 columns">
        <div class="content">
        </div>
      </div>

    </div>

  <!-- spacing -->
    <div class="row">
      <div class="medium-12 columns cardSpace">
      </div>
    </div> 
    
    <div class="row">
      {{!-- skill button effect --}}
      <div class="medium-10 columns">
        <div class="card">
          <div class="content">

            <h3>Skills</h3>
            
            {{!-- james adding this stuff --}}
            

            <ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 120px;">
              <li  class="is-dropdown-submenu-parent"><a href="#">Item 1</a>
                <ul class="menu">
                  <li><a href="#">Item 1A</a></li>
                  <!-- ... -->
              </ul>
              </li>
            </ul>

            

          {{#each skills}}
            {{skill}}
          {{/each}}

            <span class="input-group-btn">
                <button id = 'addEmotion' class="btn btn-default" type="button">Add!</button>
              </span>
                <input type="text" class="form-control" placeholder="Add a new skill...">
            {{!-- end of james additions --}}


            <h3 class="portText">Skills</h3>

          </div>
        </div>
      </div>
    </div> <!-- closing row -->

    <!-- spacing -->
    <div class="row">
      <div class="medium-12 columns cardSpace">
      </div>
    </div> 

    <div class="row">
      <div class="medium-10 columns portPadding">
        <div class="card">
          <div class="content">
            <h3 class="portText">Portfolio</h3>
          </div>
          <a href="/employee_edit_portfolio"><i class="fa fa-wrench fa-1x editButton" aria-hidden="true"></i></a>
        </div>
      </div>
    </div><!-- closing row -->

  </div><!-- close two third -->
   
<div style="clear:both; height: 40px"></div>
      
</div><!-- end containerPro -->


<div id="footer">

  <div style="clear:both"></div>
    
</div> <!-- END footer -->

