<div class="header">

  <!-- spacing --!>
    <div class="row">
      <div class="medium-12 columns space2">
      </div>
    </div>
    
</div><!-- END header -->

<div id="container">
 
  <div class="two-third"> 

    <div class="row">
      <div class="medium-7 columns">
            <h2 id="mainLogo"><img src="/assets/img/loginBackground/icon-clear-thinkers.jpg" style="color: #D72323" alt="lightBulb" height="60" width="60"> Tech Aptitude</h2>
      </div>

    <div class="medium-3 columns">
      <div class="card">
        <div class="content">
          <i class="fa fa-facebook-official fa-2x fBookIcon" aria-hidden="true"></i>
          <i class="fa fa-twitter-square fa-2x twitIcon" aria-hidden="true"></i>
          <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-stack-overflow fa-2x stack" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square fa-2x linked" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div> <!-- close row --!>

  <!-- spacing --!>
    <div class="row">
      <div class="medium-12 columns cardSpace">
      </div>
    </div> 
  
    <div style="clear:both"></div>

    <div class="row">
      <div class="medium-3 columns">
        <div class="card">
          <div class="content centered">

              <!-- Right Picture Nar -->
              <div class="sidebar_right">
              {{#each user}}
                {{/each}}
                <img src="assets/img/headshot.jpg" style="width:200px">

          
                <ul class="sidebar_menu" style="margin:0">
                  <li><a href="/employee_edit_profile">Contact Information</a></li>
                  <li><a href="/employee_edit_resume">Edit Resume</a></li>
                  <li><a href="/employee_skills">Skills</a></li>
                </ul>

            </div><!-- end sidebar right -->
          </div> <!-- closing content -->
        </div>
      </div> <!-- closing columns --!>

      <div class="medium-4 columns">
        <div class="card">
          <div class="content">
            <div>
              <form action="#" class="TTWForm" method="post" novalidate=""> 
                <div id="field1-container" class="field f_50">
                  {{#each user}}
                  <label for="title"></label>
                  <i class="fa fa-code fa-1x contactIcons" aria-hidden="true"></i> {{title}}
                  <label for="firstName"></label>         
                  <i class="fa fa-user fa-1x contactIcons" aria-hidden="true"></i>  {{firstName}} {{lastName}}
                  <label for="lastName"></label>
                  <!-- moved one line up --!>
                  <label for="email"></label>
                  <i class="fa fa-envelope-o fa-1x contactIcons" aria-hidden="true"></i>  {{email}}    
                  <label for="address"></label>
                  <i class="fa fa-home fa-1x contactIcons" aria-hidden="true"></i>  {{street_address}}
                  <label for="city"></label>
                  {{city}}
                   <label for="state"></label>
                  {{state}}
                  <label for="zip"></label>
                  {{zip}}
                  <label for="mobile"></label>
                  <i class="fa fa-mobile fa-1x contactIcons" aria-hidden="true"></i> {{mobile}}
                  {{/each}}
                </div>
              </form>
            </div>
          </div> <!-- closing content --!>
        </div> <!-- closing card --!>
      </div> <!-- closing columns --!> 
    
      <div class="medium-5 columns">
        <div class="card">
          <div class="content">
            <h3>Skills</h3>
              <i class="fa fa-html5 fa-3x sIcons" aria-hidden="true"></i>
              <i class="fa fa-css3 fa-3x sIcons" aria-hidden="true"></i>
              <i class="fa fa-git-square fa-3x sIcons" aria-hidden="true"></i>
              <i class="fa fa-database fa-3x sIcons" aria-hidden="true"></i>
          </div>
        </div>
      </div
    </div> <!-- closing row --!>


  </div><!-- close two third -->
  
      
<div style="clear:both; height: 40px"></div>
      
</div><!-- end containerPro -->


  <div id="footer">

    <!-- First Column -->
      <div class="one-fourth">
      </div>
    
    <!-- Second Column -->
      <div class="one-fourth">
      </div>
    
    <!-- Third Column -->
      <div class="one-fourth">
      </div>
    
    <!-- Fourth Column -->
      <div class="one-fourth last">
      </div>

    <div style="clear:both"></div>
    
  </div> <!-- END footer -->
