<div class="header">
    
<!-- spacing --!>
  <div class="row">
    <div class="large-12 columns space">
    </div>
  </div>
    
</div><!-- END header -->

<div id="container">

<div class="two-third">

<!-- logo icon --!>
  <div class="row">
    <div class="large-12 columns">
      <h2 id="mainLogo"><img src="/assets/img/loginBackground/icon-clear-thinkers.jpg" style="color: #D72323" alt="lightBulb" height="60" width="60"> Tech Aptitude</h2>
    </div>
  </div> 
      
  <div class="row">
    <div class="large-6 columns">
      <div class="card">
        <div class="content">
          <form action="#" class="TTWForm" method="post" novalidate=""> 
            <div id="field1-container" class="field f_50">
              {{#each user}}
              <label for="firstName">First Name</label>         
              {{firstName}}
              <label for="lastName">Last Name</label>
              {{lastName}}
              <label for="email">Email Address</label>
              {{email}}    
              <label for="address">Street Address</label>
              {{street_address}}
              <label for="city">City: </label>
              {{city}}
               <label for="state">State: </label>
              {{state}}
              <label for="zip">Zip Code</label>
              {{zip}}
              {{/each}}
            </div>
          </form>
        </div>
      </div>
    </div>


          <!-- Right Picture Nar -->
            <div class="sidebar_right">
            {{#each user}}
            <!-- not sure we need these --1>
            <!-- <h4>{{firstName}} {{lastName}}</h4> --!>
            {{/each}}
              <img src="assets/img/headshot.jpg" style="width:200px">
    
              <ul class="sidebar_menu" style="margin:0">
                <li><a href="/employee_edit_profile">Contact Information</a></li>
                <li><a href="/employee_edit_resume">Edit Resume</a></li>
                <li><a href="/employee_skills">Skills</a></li>
              </ul>

            </div><!-- end sidebar right -->


</div><!-- end of two-third --!>
   
</div><!-- end container -->


    <div id="footer">

    <!-- First Column -->
      <div class="one-fourth">
      </div>
    
    <!-- Second Column -->
      <div class="one-fourth">
      </div>
    
    <!-- Third Column -->
      <div class="one-fourth">   
      </div>
    
    <!-- Fourth Column -->
      <div class="one-fourth last">
      </div>

    <div style="clear:both"></div>
    
    </div> <!-- END footer -->
