<div class="header">

  <!-- nav bar --!>
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>Tech Aptitude</h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
  </nav>


  <!-- spacing --!>
  <div class="row">
    <div class="large-12 columns space">
    </div>
  </div>
    
</div><!-- END header -->


<div id="container">


<div class="two-third">

<div class="row">
  <div class="large-12 columns">
    <h2 id="mainLogo"><img src="/assets/img/loginBackground/icon-clear-thinkers.jpg" style="color: #D72323" alt="lightBulb" height="60" width="60"></h2>
  </div>
</div>      

<div style="clear:both"></div>

<div>
    <div class="heading_bg"><h2>Contact Information</h2></div>
<form action="#" class="TTWForm" method="post" novalidate=""> 
  <div id="field1-container" class="field f_50">
    <label for="firstName">First Name</label>         
    {{firstName}}
    <label for="lastName">Last Name</label>
    {{lastName}}
    <label for="email">Email Address</label>
    {{emailAddress}}    
    <label for="address">Address</label>
    {{Address}}
    <label for="zip">Zip Code</label>
    {{Zip}}
    <label for="country">Country</label>
    {{country}}
  </div>
  <p><input type="submit" value="Submit"></p>
</form>
</div>

</div><!-- close two third -->

      <!-- Right Picture Nar -->
      <div class="sidebar_right">
        <h4>{{user.firstName}} {{user.lastName}}</h4>
        <img src="assets/img/headshot.jpg" style="width:200px">
    
          <ul class="sidebar_menu" style="margin:0">
            <li><a href="/edit_profile">Contact Information</a></li>
            <li><a href="#">Photo</a></li>
            <li><a href="#">Edit Resume</a></li>
            <li><a href="#">Skills</a></li>
          </ul>
      
      </div><!-- end sidebar right -->
      
      
      <div style="clear:both; height: 40px"></div>
      
      </div><!-- end container -->


    <div id="footer">

    <!-- First Column -->

    <div class="one-fourth">
        <h3>Useful Links</h3>
            <ul class="footer_links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Ellem Ciet</a></li>
                <li><a href="#">Currivitas</a></li>
                <li><a href="#">Salim Aritu</a></li>
            </ul>
    </div>
    
    <!-- Second Column -->
    
    <div class="one-fourth">
        <h3>Terms</h3>
            <ul class="footer_links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Ellem Ciet</a></li>
                <li><a href="#">Currivitas</a></li>
                <li><a href="#">Salim Aritu</a></li>
            </ul>
    </div>
    
    <!-- Third Column -->
    
    <div class="one-fourth">
        <h3>Information</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis.
        
        <div id="social_icons">
        Theme by <a href="http://www.csstemplateheaven.com">CssTemplateHeaven</a><br /> Photos © <a href="http://dieterschneider.net" title="Dieter Schneider Photography">Dieter Schneider</a>
        </div>
        
    </div>
    
    <!-- Fourth Column -->
    
    <div class="one-fourth last">
        <h3>Socialize</h3>
            <img src="img/icon_fb.png" alt="Facebook">
            <img src="img/icon_twitter.png" alt="Facebook">
            <img src="img/icon_in.png" alt="Facebook">
    </div>

    <div style="clear:both"></div>
    
    </div> <!-- END footer -->
